<div class="container">
  <div class="row p-3">
    <div class="col">
      <h5>Buscar:</h5>
      <input type="text" class="form-control" placeholder="Buscar gifs..." />
    </div>
  </div>
  <hr class="m-0" />

  <div class="row p-3">
    <div class="col">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga a est
      incidunt esse quas itaque illo eius reprehenderit quisquam, earum eum
      dolor tempore asperiores culpa quae amet odit? Obcaecati, optio!
    </div>
  </div>
</div>
